.quote-body {    
    -ms-grid-rows: repeat(7, 1fr);    
    grid-template-rows: repeat(7, 1fr);
        grid-template-areas: 
    "name"
    "email"
    "phone"
    "message"
    "message"
    "captcha"
    "submit"
}