#sh-body {
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    gap: 1rem .5rem;
    margin: 50px auto;
    justify-items: center;
}

.k-entry {
    overflow: hidden;
    padding: 0;
    border: none;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: whitesmoke;
    color: white;
    height: 22rem;
    width: 17em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.k-entry > .overlay-parent {
    height: 100%;
}

.thumbnail {
    background: #000000;
    height: 100%;
    overflow: hidden;
}

.thumbnail:hover, .post-content:hover {
    cursor: pointer;
}

.thumbnail > img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -10rem;
       object-position: -10rem;
}

.post-content {
    position: relative;
    top: 152px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1rem;
}

.post-overview {
    height: 100%;
}

.post-slug {
    position: relative;
    height: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 10px;
    font-weight: 700;
    font-family: "Montserrat Italic", sans-serif;
    top: -28px;
    left: -1rem;
    text-transform: uppercase;
    color: whitesmoke;
    background-color: rgb(160, 0, 0);
    padding: 5px;
}

.post-title {
    font-size: 15px;
    font-weight: 700;
    text-align: start;
    padding-bottom: .8rem;
}

.post-text {
    font-size: 12px;
    font-weight: 500;
    text-align: justify;
}

.post-text, .post-title {
    background-color: transparent;
    padding-left: 1rem;
    padding-right: 2rem;
}

.k-entry-title {
    background-color: white;
    position: relative;
    bottom: -67%;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
    font-family: "Montserrat Italic", sans-serif;
    color: black;
}

.k-entry-subtitle {
    background-color: rgb(146, 27, 27);
    font-size: .85rem;
    padding: .5rem;
    color: var(--dark-gray-1);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: start;
}

.k-entry-text {
    display: block;
    text-align: justify;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: white;
}

@media (min-width: 576px) {
    #sh-body {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    #sh-body {
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    }
}