#sh-responsive-flex-image, #quote-form {
    flex: 1;
    max-width: 580px;
}

#sh-responsive-flex-image {
    width: 80%;
    margin-bottom: 50px;
}

#sh-responsive-flex-image > img {
    max-width: unset;
    min-width: 300px;
    width: 80%;
}

#quote-form {
    background-color: white;
    max-width: 600px;
}

.quote-form-label {
    height: 100%;
}

.quote-form-input > input {
    height: 40px;
}

#quote-form>.row:first-child {
    margin-bottom: 10px;
}

#quote-form>.row:last-child {
    margin-top: 10px;
}

.quote-form-message {
    height: 400px;    
}

div.quote-big-container {
    display: grid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.form-error {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.quote-body {  
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr) 2fr repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    grid-template-areas: 
    "name"
    "email"
    "phone"
    "vehicle"
    "images"
    "message"
    "message"
    "submit"
}

.quote-body > div {
    max-height: 200px;
}

.message {  
    height: 70px;
    grid-area: message; 
}

.message .form-floating {
    height: 200%;
}

.message .form-floating textarea[name="message"] {
    height: 100%;
}

.name { 
    height: 70px;
    grid-area: name; 
}

.email { 
    height: 70px;
    grid-area: email; 
}

.phone { 
    height: 70px;
    grid-area: phone; 
}

.vehicle {
    height: 70px;
    grid-area: vehicle;
}

.images {
    height: 100px;
    grid-area: images;
    align-self: center;
    max-height: 200px;
}

.submit {
    height: 70px;
    grid-area: submit;
}

.submit input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}

.quote-header {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#upload-images, #remove-images {
    border-radius: 5px;
    border-width: 1px;
}

#upload-images:hover, #remove-images:hover {
    cursor: pointer;    
}

#remove-images {
    margin-left: auto;
}

#uploaded-image-list {
    font-size: 15px;
    font-family: 'Montserrat Italic', sans-serif;
    align-self: center;
    margin-left: 10px;
}

.images-upload-box {
    display: flex;
    flex-direction: column;
}

.images-upload-box p {
    font-size: .8rem;
    text-align: start;
    margin-bottom: 0;
}

.images-upload-button-outer {
    margin-top:10px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: stretch;
}

#quote-form-name {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    #quote-form {
        margin-right: 50px;
    }

    #sh-responsive-flex-image, #quote-form {
        flex: unset;
    }
}
  