{% extends "mainsite/base.html" %}

{% block links %}
<link href="/static/mainsite/css/services.css" rel="stylesheet" />
{% endblock %}

{% block content %}

{% load service_extras %}
{% load static %}

<div class="container-fluid px-0 mt-4 d-flex flex-row">
    <div class="services-category-list">
        CATEGORIES
    </div>
    <div class="list-group flex-grow-2" id="services-list">
        {% for service in services %}
            <div class="service-content-container d-flex">
                <div class="list-group-item d-flex flex-column flex-md-row service-content-holder">
                    <div class="service-image-holder d-inline-block align-self-center">
                        <a href="#" class="service-info-button" data-bs-toggle="modal" data-bs-target="#service-modal-{{service.id}}">
                            ?
                        </a>
                        <img src={{service.img_url}} class="service-image">
                    </div>
                    <div class="w-100 d-flex flex-column service-description-holder">
                        <div class="service-description-outer">
                            <h3 class="service-title">{{service.medium_name}}</h3>
                            <p class="service-description">{{service.medium_description}}</p>
                        </div>
                        <div class="service-actions-list mt-auto d-flex justify-content-between">
                            <a class="btn btn-secondary knowledge-base-link d-inline" href="#">
                                <img class="text-dark ic-img" src="{% static 'mainsite/images/school.svg' %}"/>
                                Info...
                            </a>
                            <a class="btn btn-secondary request-cart-add service-quote-button" id="add-quote-{{service.id}}" href="#">
                                <img class="ic-img" src="{% static 'mainsite/images/quote_1.svg' %}"/>
                                Free quote
                            </a>

                            <a class="btn btn-secondary request-cart-remove service-quote-button" id="remove-quote-{{service.id}}" href="#" hidden>
                                <img class="ic-img" src="{% static 'mainsite/images/remove.svg' %}"/>
                                Remove
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% for entry in kbase %} 
            <div class="modal modal-xl modal-dialog-scrollable modal-fullscreen-md-down fade service-modal" id="service-modal-{{entry.service_id}}" tabindex="-1">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{entry.medium_title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    {{entry.entry|markdownify|safe}}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cool bro</button>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/mainsite/js/service.js" type="text/javascript"></script>
{% endblock %}